<% provide(:title, "ポートフォリオ") %>
<div class="jumbotron">
  <div class="container">
    <h1>My Sample App</h1>

    <h2>
    </h2>
    <div class="signup-link">
      <%= link_to "今すぐ登録", signup_path %>
    </div>

  </div>
</div>
