<h2>相談をしてね</h2>
<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>コメント:</label><br>
  <textarea id="comment"　class="chat-spk"></textarea>
  <button id="send-btn" type="button" class="btn btn-success btn-sm">送信</button>
</form>
