<h2>相談をしてね</h2>
<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>コメント:</label><br>
  <input id="comment" type="text" data-behavior="room_speaker" class="chat-spk">
  <button id="send-btn" type="button" class="btn btn-success btn-sm">送信</button>
</form>
